
.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .keyboard-row {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        
        .keyboard-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #719fd7;
            color: #efdedb;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 4px;
            cursor: pointer;
            margin: 3px;
            padding: 3px;
            min-height: 46px;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
            font-family: 'Josefin Sans', sans-serif;
            border: 2px solid black;
            box-shadow: 4px 4px #aaa;

            transition: all .1s;
            user-select: none;

            &:hover {
                box-shadow: 3px 2px #aaa;
                // box-shadow: 4px 4px var(--hover);
                transform: translate(0.05em, 0.1em);
            }

            &:active {
                box-shadow: 0 0 0.4em -0.4em var(--hover);
                transform: translate(0.15em, 0.2em);
                // transform: translate(0.05em, 0.2em);
            }
        }

        .keyboard-btn-wide {
            text-transform: capitalize;
            flex-grow: 2;
            flex-shrink: 1;
            flex-basis: 0%;
        }
    }
}